<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155562952686-bm8l8ak5bj0rinsigc8emcobhbktitoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155562952686-bm8l8ak5bj0rinsigc8emcobhbktitoc</string>
	<key>API_KEY</key>
	<string>AIzaSyD5YQkEYWBQyHNrhnXW1ZqLyBLXtOqV1KE</string>
	<key>GCM_SENDER_ID</key>
	<string>155562952686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justingalang.Bracket</string>
	<key>PROJECT_ID</key>
	<string>brackit-be38f</string>
	<key>STORAGE_BUCKET</key>
	<string>brackit-be38f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155562952686:ios:d2cfa0226de685058130ff</string>
	<key>DATABASE_URL</key>
	<string>https://brackit-be38f.firebaseio.com</string>
</dict>
</plist>